@* @section title {
        Welcome To Customer Home Page
} *@

@section sectionTitle {
        Admin Home 
}

<div class="text-center">
    <h1 class="display-4">Welcome To Admin DashBoard </h1>
</div>
